<div class="container-xxl my-md-4 bd-layout">
  <aside class="bd-sidebar">
  </aside>

  <main class="bd-main order-1">
    <div class="bd-intro ps-lg-4">
      <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
        <a class="btn btn-sm btn-bd-light mb-2 mb-md-0">SSS</a>
        <h1 class="bd-title" id="content">Title</h1>
      </div>
      <p class="bd-lead">ddd</p>
    </div>

    <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
      <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
    </div>

    <div class="bd-content ps-lg-4">
      <div class="row g-3">
        <div class="col-md-6">
          <a class="d-block text-decoration-none" href="">
            <strong class="d-block h5 mb-0"></strong>
            <span class="text-secondary"></span>
          </a>
        </div>
      </div>

      Content
    </div>
  </main>
</div>
<script></script>


